<div class="container p-4">
    <h1>"Quienes somos"</h1>
    <p>En EnergyCars, nos dedicamos a simplificar la movilidad eléctrica. A través de nuestra plataforma, facilitamos la localización y reserva de estaciones de carga para vehículos eléctricos, brindando una solución eficiente y accesible para los conductores. Creemos en un futuro sostenible y trabajamos para fomentar el uso de energías limpias, contribuyendo así a la reducción de la huella de carbono.</p>
    <p>Nuestro equipo está comprometido con la innovación y la mejora continua, siempre enfocados en ofrecer un servicio confiable que apoye la transición hacia un transporte más ecológico y responsable.</p>
</div>