<div class="container p-4">
    <h1>¿Quiénes somos?</h1>
    <p>A través de nuestra plataforma, facilitamos la localización y reserva de estaciones de carga para vehículos eléctricos, brindando una solución eficiente y accesible para los conductores. Creemos en un futuro sostenible y trabajamos para fomentar el uso de energías limpias, contribuyendo así a la reducción de la huella de carbono.</p>
    <p>Nuestro equipo está comprometido con la innovación y la mejora continua, siempre enfocados en ofrecer un servicio confiable que apoye la transición hacia un transporte más ecológico y responsable.</p>
    <p>En EnergyCars, nos dedicamos a simplificar la movilidad eléctrica. </p>  
    <hr>
</div>
<div class="container p-4">
    <h1>Misión, visión y valores</h1>
    <p></p>
    <h3>Misión:</h3>
    <p>Nuestra misión en EnergyCars es impulsar la adopción de la movilidad eléctrica mediante una plataforma tecnológica innovadora que facilite la localización, reserva y gestión de estaciones de carga para vehículos eléctricos. Nos comprometemos a ofrecer una experiencia accesible, eficiente y segura para los conductores de vehículos eléctricos, mientras fomentamos un futuro sostenible y responsable con el medio ambiente.</p>
    <hr>
    <p></p>
    <h3>Visión:</h3>
    <p>Ser la plataforma líder en soluciones tecnológicas para la movilidad eléctrica, promoviendo un futuro en el que los vehículos eléctricos sean accesibles para todos y la infraestructura de carga sea parte integral del desarrollo urbano y ecológico.</p>
    <hr>
    <p></p>
    <h3>Valores:</h3>
    <p>- Sostenibilidad: Creemos en un mundo más limpio y ecológico. Por ello, nuestro trabajo está enfocado en contribuir al desarrollo de soluciones que reduzcan la huella de carbono y promuevan un estilo de vida más sostenible.</p>
    <p>- Innovación: Nos esforzamos por mantenernos a la vanguardia de la tecnología, ofreciendo soluciones que no solo sean funcionales, sino también disruptivas y orientadas hacia el futuro.</p>
    <p>- Compromiso con el cliente: La satisfacción y confianza de nuestros usuarios es nuestra prioridad. Nos aseguramos de que cada experiencia con EnergyCars sea fluida, segura y confiable, brindando soporte en cada paso del camino.</p>
    <p>- Accesibilidad: Queremos que todos los conductores de vehículos eléctricos puedan acceder fácilmente a estaciones de carga. Trabajamos para hacer que nuestra plataforma sea intuitiva y esté disponible para cualquier persona, en cualquier lugar.</p>
    <p>- Colaboración: Valoramos el trabajo en equipo y las alianzas estratégicas que nos permiten crecer y mejorar. Creemos en la cooperación tanto dentro de nuestro equipo como con nuestros socios, siempre en busca de nuevas oportunidades y sinergias.</p>
    <p>- Responsabilidad social: Nos sentimos responsables del impacto de nuestras acciones en la sociedad y en el planeta. Cada decisión que tomamos está orientada a construir un futuro mejor para las generaciones venideras.</p>
    <hr>
</div>